In [7]:
import tensorflow as tf

In [64]:
import numpy as np
import pandas as pd

In [9]:
pd.__version__

'0.18.1'

In [10]:
city_names = pd.Series(["San Francisco", "San Jose", "Sacramento"])
population = pd.Series([888123, 123123, 12312])

data = pd.DataFrame({"City name": city_names, "Population": population})

In [11]:
california_housing_dataframe = pd.read_csv("https://storage.googleapis.com/mledu-datasets/california_housing_train.csv", sep=",")

In [12]:
california_housing_dataframe.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [13]:
california_housing_dataframe.hist("housing_median_age")

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x124a65d68>]],
      dtype=object)

In [15]:
cities = pd.DataFrame({ 'City name': city_names, 'Population': population })

In [17]:
print (type(cities['City name']))

<class 'pandas.core.series.Series'>

In [18]:
cities['City name']

0    San Francisco
1         San Jose
2       Sacramento
Name: City name, dtype: object

In [19]:
cities['Area square miles'] = pd.Series([46.87, 176.53, 97.92])

In [20]:
cities['Population density'] = cities['Population'] / cities['Area square miles']

In [21]:
cities

       City name  Population  Area square miles  Population density
0  San Francisco      888123              46.87        18948.645189
1       San Jose      123123             176.53          697.462188
2     Sacramento       12312              97.92          125.735294

In [59]:
cities["IsSmallSaintCity"] = (cities["City name"].apply(lambda name: name.startswith("San"))) \
                              & (cities["Area square miles"] > 50)

In [57]:
cities

,City name,Population,Area square miles,Population density,IsSmallSaintCity
0,San Francisco,888123,46.87,18948.645189,False
1,San Jose,123123,176.53,697.462188,True
2,Sacramento,12312,97.92,125.735294,False

In [60]:
city_names.index

RangeIndex(start=0, stop=3, step=1)

In [61]:
cities.index

RangeIndex(start=0, stop=3, step=1)

In [62]:
cities.reindex([2, 0, 1])

,City name,Population,Area square miles,Population density,IsSmallSaintCity
2,Sacramento,12312,97.92,125.735294,False
0,San Francisco,888123,46.87,18948.645189,False
1,San Jose,123123,176.53,697.462188,True

In [68]:
cities.reindex(np.random.permutation(cities.index))

,City name,Population,Area square miles,Population density,IsSmallSaintCity
0,San Francisco,888123,46.87,18948.645189,False
2,Sacramento,12312,97.92,125.735294,False
1,San Jose,123123,176.53,697.462188,True

In [69]:
cities.reindex([4, 0, 1])

,City name,Population,Area square miles,Population density,IsSmallSaintCity
4,NaN,NaN,NaN,NaN,NaN
0,San Francisco,888123.0,46.87,18948.645189,False
1,San Jose,123123.0,176.53,697.462188,True